appdirs==1.4.4
async-generator==1.10
attrs==21.4.0
bitarray==2.9.2
certifi==2021.10.8
cfclient==2022.12
cffi==1.15.0
cflib==0.1.21
charset-normalizer==2.0.12
cryptography==36.0.2
cycler==0.11.0
distlib==0.3.4
docker==6.0.1
filelock==3.6.0
fonttools==4.32.0
freetype-py==2.3.0
h11==0.13.0
hsluv==5.0.3
idna==3.3
kiwisolver==1.4.2
libusb-package==1.0.26.1
lxml==4.8.0
numpy==1.26.3
outcome==1.1.0
packaging==21.3
Pillow==9.1.0
platformdirs==2.5.2
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.8
pyqtgraph==0.13.1
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
pyusb==1.2.1
pywin32==305
PyYAML==5.4.1
pyzmq==22.3.0
qasync==0.23.0
qtm==2.1.1
requests==2.27.1
scipy==1.9.3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
trio==0.20.0
trio-websocket==0.9.2
urllib3==1.26.9
virtualenv==20.14.1
vispy==0.9.6
webdriver-manager==3.5.4
websocket-client==1.5.1
wsproto==1.1.0
